.marquee-container {
  margin: 0 0 20px 8px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  gap: 8px;
  height: 140px;
}

.marquee-container::-webkit-scrollbar {
  display: none;
}

.marquee-card {
  min-width: 280px;
  max-width: 280px;
  border-radius: 5px;
}
