.navbar {
  display: flex;
  /* align-items: center; */
  font-family: "Poppins";
  justify-content: space-between;
}
.navbar-logo-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  height: 44px;
  justify-content: center;
}
.navbar-logo-wrapper span {
  /* font-family: "Poppins"; */
  font-weight: 500;
  font-size: 9px;
  color: #fff;
}
.logos {
  display: flex;
  /* justify-content: center; */
}
.brand-logo {
  width: 88px;
}
.rg-logo {
  padding-left: 6px;
  height: 18px;
  width: 18px;
}

.navbar-wrapper-right {
  display: flex;
  /* justify-self: flex-end; */

  padding: 6px 0;
}

.bonus-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid gray;
  text-align: center;
  /* width: 32px; */
  line-height: 1;
}

.bonus {
  font-weight: 500;
  font-size: 9px;
  color: #e9d193;
  margin-bottom: 2px;
}

.bonus-amt {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}

.offers-info {
  /* font-family: "Poppins"; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  line-height: 18px;
  margin: 0 4px;
  border-radius: 25px;
  border: 1px solid gray;
  /* text-align: center; */
  /* width: 32px;
  height: 15px; */
}

.bonus-info span {
  padding: 0 12px;
}

.offers-info span {
  padding: 0 12px;
}
