.navbar-function {
  height: 32px;
  display: flex;
  color: #fff;
  font-family: "Poppins";
  padding: 6px 0;
}

.product-menu svg {
  fill: #fff;
  /* height: 12px; */
  margin-right: 6px;
}

.product-menu {
  background: #303030;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 7px 14px 7px 12px;
  margin: 0 8px;
}

.product-menu span,
.search-bar span {
  font-size: 13px;
}

.search-bar {
  background: #303030;
  border-radius: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 8px;
}

.search-bar svg {
  fill: #fff;
  /* height: 15.33px; */
  margin: 0 6px 0 12px;
}
