.team-info {
  grid-area: team;
  line-height: 1;
}

.team-name {
  font-family: "Kanit";
  font-weight: 500;
  font-size: 14px;
  color: #050505;
  margin-bottom: 4px;
}

.team-details {
  font-family: "Poppins";
  font-weight: 400;
  color: #8b8e95;
  font-size: 12px;
}

.grid-logo-circle {
  border-radius: 50%;
  background: #f3f4f5;
  height: 36px;
  max-width: 36px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 12px;
}
