.grid-info {
  /* grid-area: info; */
  display: grid;
  grid-template-areas: "time spread total money";
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 11px;
  color: #8b8e95;
  text-align: center;
  margin-bottom: 8px;
}

.event-time {
  grid-area: time;
  color: #303030;
  text-align: left;
}

.event-spread,
.event-total,
.event-moneyline {
  max-width: 45px;
}

.event-spread {
  grid-area: spread;
}
.event-total {
  grid-area: total;
}
.event-moneyline {
  grid-area: money;
}
